html, body {
  margin: 0;
  padding: 0;
  background: #8BC34A;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-content {
  padding: 15px;
}

.my-image {
  width: 100%;
}

.skill {
  img {
    float: left;
    margin-top: -20px;
    margin-right: 10px;
  }
}

#map {
  height: 150px;
}

.wiu img {
  margin: 10px;
}
.wiww img {
  margin: 10px;
}

.loading {
  margin-top: 20%;
  margin-left: 50%;
}

footer {
  text-align: center;
}

.job-content {
  padding: 15px;
}
