html, body {
  margin: 0;
  padding: 0;
  background: #8BC34A;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-content {
  padding: 15px;
}

.my-image {
  width: 100%;
}

.skill {
  img {
    float: left;
    margin-top: -20px;
  }

}
