<style is="custom-style">

  paper-card {
    width: 100%;
    /*height: 300px;*/
    margin-top: 10px;


  }

  paper-progress {
    margin: 30px;
    width: 75%;
    --paper-progress-active-color: #e91e63;
  }

  .me {
    --paper-card-header-text: {
      color: #388E3C;
    };
    --paper-card-header-image: {
      height: 250px;
    };
  }

  .awards {
    text-align: center;
  }

</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <paper-card class="me" image="images/vildan.jpg">
        <div class="card-content">Vildan Tursic</div>
        <paper-ripple></papper-ripple>
      </paper-card>
    </div>
    <div class="col-lg-6">
      <paper-card heading="Super powers">
        <div class="card-content">
          <div class="skill">
            <img src="https://maxcdn.icons8.com/Color/PNG/48/Logos/html_5-48.png" title="Html 5" width="48">
            <paper-progress value="90"></paper-progress>
          </div>
          <br>
          <div class="skill">
            <img src="https://maxcdn.icons8.com/Color/PNG/48/Logos/css3-48.png" title="CSS3" width="48">
            <paper-progress value="80"></paper-progress>
          </div>
          <br>
          <div class="skill">
            <img src="https://maxcdn.icons8.com/Color/PNG/48/Operating_Systems/android_os_copyrighted-48.png" title="Android OS" width="48">
            <paper-progress value="50"></paper-progress>
          </div>
          <br>
          <div class="skill">
            <img src="https://maxcdn.icons8.com/Color/PNG/48/Logos/raspberry_pi-48.png" title="Raspberry Pi" width="48">
            <paper-progress value="65"></paper-progress>
          </div>
          <br>
          <div class="skill">
            <img src="https://maxcdn.icons8.com/Color/PNG/48/Logos/arduino-48.png" title="Arduino" width="48">
            <paper-progress value="30"></paper-progress>
          </div>
          <br>
          <div class="skill">
            <img src="https://maxcdn.icons8.com/Color/PNG/48/Operating_Systems/android_os_copyrighted-48.png" title="Android OS" width="48">
            <paper-progress value="50"></paper-progress>
          </div>
        </div>
        <div class="card-actions">
          <paper-button>Some action</paper-button>
        </div>
      </paper-card>
    </div>
    <div class="col-lg-3">
      <div class="col-lg-12">
        <paper-card class="awards" heading="Microsoft Imagine Cup 2015">
          <div class="card-content">
            <img src="https://maxcdn.icons8.com/Color/PNG/96/Sports/trophy-96.png" title="Trophy" width="96">
          </div>
          <div class="card-actions">
            <a href="http://www.info.ba/novosti/4272/proglaseni-imagine-cup-2015-pobjednici-iz-bosne-i-hercegovine"><paper-button>News</paper-button></a>
          </div>
        </paper-card>
      </div>
      <div class="col-lg-12">
        <paper-card heading="Card Title">
          <div class="card-content">Some content</div>
          <div class="card-actions">
            <paper-button>Some action</paper-button>
          </div>
        </paper-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <paper-card heading="What I use">
        <div class="card-content">
          <img src="https://maxcdn.icons8.com/Color/PNG/48/Operating_Systems/linux-48.png" title="Linux" width="48">
          <img src="https://maxcdn.icons8.com/Color/PNG/48/Operating_Systems/windows8_copyrighted-48.png" title="Windows8" width="48">
          <img src="https://maxcdn.icons8.com/Color/PNG/48/Logos/github_2-48.png" title="Github 2" width="48">
          <img src="https://maxcdn.icons8.com/Color/PNG/48/Logos/bitbucket-48.png" title="Bitbucket" width="48">
        </div>
        <div class="card-actions">
          <paper-button>Some action</paper-button>
        </div>
      </paper-card>
    </div>
    <div class="col-lg-6">
      <paper-card heading="Card Title">
        <div class="card-content">Some content</div>
        <div class="card-actions">
          <paper-button>Some action</paper-button>
        </div>
      </paper-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <paper-card heading="Card Title">
        <div class="card-content">Some content</div>
        <div class="card-actions">
          <paper-button>Some action</paper-button>
        </div>
      </paper-card>
    </div>
    <div class="col-lg-6">
      <paper-card heading="Card Title">
        <div class="card-content">Some content</div>
        <div class="card-actions">
          <paper-button>Some action</paper-button>
        </div>
      </paper-card>
    </div>
  </div>
</div>
